@media screen and (max-width:500px){
        /* ============================== Hero ============================================== */
       .nav h2{
        font-size: 27px !important;
       }
        .hero_content{
            width:100%;
            margin: auto;
            gap: 20px;
           }
           .hero_content h1 {
            font-size: 27px;
            line-height: 40px;
        }
    
        .hero_content input, .hero_content button  {
            width: 100% !important;
                border-top-right-radius:40px ;
        }
        .hero_im{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            overflow: hidden;
        }
     
        .hero_bg::after, .hero_bg::before{
           
           display: none;
          
          }
        
    
        /* ============================== Hero End ============================================== */
     /* ==============================Influencer_info  ============================================== */
     .influencer_info_heading{
        font-size: 18px !important;
        
        width: 92% !important;
        line-height: 30px !important;
      
      }
     /* ==============================Influencer_info End ============================================== */

}