@font-face {
  font-family: Poppins;
  src: url('../Poppins/Poppins-Bold.ttf');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.nav, .hero{
  width: 92%;
  margin: auto;
}
body{
  background-color: #f9f9f9;
}

/* ============================================================================ */
/* ============================== nav bar ============================================== */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  padding: 35px 0;

}
.nav h2{
  font-size: 30px;
  font-weight: 900;
  font-family: sans-serif ,serif,'Times New Roman', Times;
}
.nav li{
  list-style: none;
  display: inline-block;
  font-weight: 600;
  padding: 7px 14px;
  font-size: 17px;
  font-family: sans-serif ,serif,'Times New Roman', Times;
}
.nav li:first-child{
  color: #fc1c62;
}
/* ============================== nav bar End ============================================== */
/* ============================== Hero ============================================== */
.hero{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin-top: 20px;
}
.hero_content{
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.hero_content h1{
  font-size:64px;
  line-height: 70px;
  font-family: Poppins;
}
.hero_content p{
  line-height: 30px;
  font-size: 16px;
  color: #666;
  font-family: sans-serif;
  letter-spacing: 0.9px;
  
}

.hero_bg{
  background-image: url('../public/Images/dot-bg.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.hero_bg::after{
  content: url('../public/Images/line-bg1.png');
  position: absolute;
  left: 0;
  bottom: 0;

}
.hero_bg::before{
  content: url('../public/Images/line-bg2.png');
  position: absolute;
  right: 17px;
  bottom: 0;

}
.hero_im{
  padding-top: 50px;
  z-index: 1;
}

.hero_content input{
  padding: 18px;
  width: 52%;
  font-size: 16px;
  background-color: #e4e4e4;
  border: none;
  outline: none;
}

.hero_content button{
  background: linear-gradient(to left bottom,#ee0979,#fc1c62,#ff364a,#ff512f,#ff6a00);
  padding: 18px 25px;
  margin-left: -5px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-top-right-radius: 40px;
  border: none;
}

/* ============================== Hero End ============================================== */
/* ==============================Influencer_info  ============================================== */


.influencer_info{
  text-align: center;
  font-family: sans-serif;
  position: relative;
  width: 88%;
  margin: auto;
}
.influencer, .social_statistics{
  padding-top: 70px;
  padding-bottom: 70px;
}
.what_do{
  color: #ff364a;
  margin-bottom: 20px;
}
.influencer_info_heading{
  font-size: 36px;
  margin-top: 20px;
  width: max(50%, 700px);
  line-height: 45px;
  font-family:Poppins;
  margin: auto;
}
.influencer_card{
  display: grid;
  grid-template-columns :1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
  align-items: center;
  color: #666;
}
.card{
padding: 80px 40px;
border-top-right-radius: 80px;
position: relative;
transition:0.5s;
z-index: 1;
background-color: white;
box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
.effect{
  width: 100%;
  position: absolute;
height: 5px;
background: linear-gradient(to left bottom,#ee0979,#fc1c62,#ff364a,#ff512f,#ff6a00);
left: 0;
bottom: 0;
z-index: -1;
transition:0.5s
}
.card:hover .effect{
  height: 100%;
}
.card:hover{
  border-top-right-radius: 0px;
  color: white;
}
.card:hover .suscriber{
  color: white;
}
.suscriber{
  font-size: 40px;
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
  transition: 0.5s;

}
.platform{
    font-size: 19px;
    font-style: italic;
    letter-spacing: 1px;
  margin-bottom: 15px;
}

.card span{
  letter-spacing: 1px;
}
.line_of_card{
  margin-top: 30px;
  margin-bottom: 15px;
}
.dec{
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 15px;
}
.cards_background_effect{
  position: absolute;
  right: -6.5%;
  top: 15%;

}


/* ==============================Influencer_info End ============================================== */
/* ==============================Influencer_about_me ============================================== */
.Influencer_about_me{
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 60px;
  align-items: center;
  font-family: sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  
}

.Influencer_about_me_card_one{
  position: relative;
  display: flex;
    justify-content: center;
}
.insta-about-shape1{
  position: absolute;
  left: 0;
  top: 0;
  animation: anim1 5s linear infinite;
}
.insta-about-shape2{
  position: absolute;
  right: 10%;
  bottom: -10%;
  z-index: -1;
  animation: anim2 5s linear infinite;
}
@keyframes anim1{
  0% { transform: translateY(0); }
  50% {transform: translateY(20px);}
  100% { transform: translateY(0);}
}
@keyframes anim2{
  0% { transform: translateX(0); }
  50% {transform: translateX(20px);}
  100% { transform: translateX(0);}
}

.Influencer_about_me_card_two{
  display: flex;
  flex-direction: column;
  gap: 20px;padding: 0 15px;
}
.Influencer_about_me_card_two p:first-child{
color: #ff6a00;
font-size: 16px;
letter-spacing: 0.5px;
}
.Influencer_about_me_card_two h1{

  font-size: 35px;
  font-family: Poppins;

  }
  .Influencer_about_me_card_two p:nth-child(3){
 font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #666;
    }
    .Influencer_about_me_card_two button{
      padding: 13px 30px;
      color: white;
      border: none;
      font-weight: 600;
      font-size: 17px;
      background: linear-gradient(to left bottom,#ee0979,#fc1c62,#ff364a,#ff512f,#ff6a00);
      
    }
    .Influencer_about_me_card_two button:hover{
      background: #ee0979;
    }
    .Influencer_about_me_card_two span a{
      color: rgb(29, 28, 28);
      margin-left: 20px;
    padding-bottom: 5px;
      text-decoration: none;
      position: relative;
      font-size: 17.5px;
    }
    .Influencer_about_me_card_two span a::after{
      width: 100%;
      height: 1px;
      content: "";
      position: absolute;
      left: 0;
      transition: .5s;
      bottom: 0;
      background-color: #999;
    }
   



/* ==============================Influencer_about_me End ============================================== */
/* ==============================Influencer_info ============================================== */
.social_statistics_heading_p{
  font-size: 17px;
  width: 600px;
  margin: auto;
  line-height: 30px;
  letter-spacing: 0.8px;
  margin-top: 20px;
}
/* ==============================Influencer_info End ============================================== */
