@media screen and (max-width:992px) {

    /* ============================== nav bar ============================================== */
    .nav ul li {
        display: none;
    }

    /* ============================== nav bar End ============================================== */

    /* ============================== Hero ============================================== */

    .hero {
        grid-template-columns: 100%;
        text-align: center;
    }

    .hero_content {
        width: 470px;
        margin: auto;
        gap: 20px;
    }

    .hero_bg {
        margin-top: 35px !important;
        background-size: 500px !important;
    }

    .hero_im {
        width: 400px;
        height: 450px !important;
        padding-top: 0px !important;
    }

    .hero_bg::after {
        left: 87px;
        bottom: 0;
    }

    .hero_bg::before {
        right: 87px;
        bottom: 0;
    }

    .hero_content h1 {
        font-size: 55px;
        line-height: 70px;
    }

    .hero_content p {
        line-height: 25px;
        font-size: 15px;
        letter-spacing: 0.8px;
    }

    .hero_im {
        padding-top: 50px;
    }

    .hero_content input {
        width: 300px !important;
        padding: 15px 22px;
        border-top-right-radius: 0px;
    }

    .hero_content button {
        width: 160px !important;
        font-size: 13px;
        padding: 16px 22px;
    }

    /* ============================== Hero End ============================================== */

/* ==============================Influencer_info  ============================================== */
.influencer_info_heading{
    font-size: 30px;
    
    width: max(50%, 580px);
    line-height: 41px;
  
  }
.influencer_card{
    gap: 20px;
      grid-template-columns :1fr 1fr;
  }
  .influencer_info{
    width: 80%;
  }
  .card{
    padding: 60px 30px;
    
    }
  .suscriber{
    font-size: 36px;
  }
  .platform{
      font-size: 20px;
    margin-bottom: 15px;
  }
  .dec{
 font-size: 15px ;
  }
.cards_background_effect{
    display: block;
    right: -11.5%;
    top: 11%;
  
  }


/* ==============================Influencer_info End ============================================== */



}