@media screen and (max-width:992px) {

  /* ============================== nav bar ============================================== */
  .nav ul li {
    display: none;
  }

  /* ============================== nav bar End ============================================== */

  /* ============================== Hero ============================================== */

  .hero {
    grid-template-columns: 100%;
    text-align: center;
  }

  .hero_content {
    width: 470px;
    margin: auto;
    gap: 20px;
  }

  .hero_bg {
    margin-top: 35px !important;
    background-size: 500px !important;
  }

  .hero_im {
    width: 400px;
    height: 450px !important;
    padding-top: 0px !important;
  }

  .hero_bg::after {
    left: 87px;
    bottom: 0;
  }

  .hero_bg::before {
    right: 87px;
    bottom: 0;
  }

  .hero_content h1 {
    font-size: 55px;
    line-height: 70px;
  }

  .hero_content p {
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0.8px;
  }

  .hero_im {
    padding-top: 50px;
  }

  .hero_content input {
    width: 300px !important;
    padding: 15px 22px;
    border-top-right-radius: 0px;
  }

  .hero_content button {
    width: 160px !important;
    font-size: 13px;
    padding: 16px 22px;
  }

  /* ============================== Hero End ============================================== */

  /* ==============================Influencer_info  ============================================== */
  .influencer,
  .social_statistics {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .influencer_info_heading,
  .social_statistics_heading {
    font-size: 30px;
    width: max(50%, 580px);
    line-height: 41px;
    margin: auto;
  }

  .influencer_card,
  .social_statistics_card {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .influencer_info,
  .social_statistics_info {
    width: 80%;
  }

  .card {
    padding: 60px 30px;
  }

  .suscriber {
    font-size: 36px;
  }

  .platform {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .line_of_card {
    margin-top: 20px !important;
    margin-bottom: 5px !important;
  }

  .dec {
    font-size: 15px;
  }

  .cards_background_effect {
    display: block;
    right: -11.5%;
    top: 11%;
  }

  /* ==============================Influencer_info End ============================================== */
  /* ==============================Influencer_about_me ============================================== */
  .Influencer_about_me {
    grid-template-columns: 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .insta-about {
    width: 70%;
    height: 70%;
  }

  .insta-about-shape1 {
    display: block;
    left: 15%;
    top: 0;
  }

  .Influencer_about_me_card_two p:first-child {
    font-size: 15px;
  }

  .Influencer_about_me_card_two {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
  }

  .Influencer_about_me_card_two h1 {
    font-size: 30px;
  }

  /* ==============================Influencer_about_me End ============================================== */
/* ==============================audience ============================================== */
.audience{
 
  grid-template-columns:1fr;
 justify-content: center;
 justify-items: center;
  
  }
  .audience_card_first_image_one,.audience_card_first_image_two{
    width: 320px;
    height: 300px;
  }
  .audience_card_first{
    gap:20px ;
    justify-items: center;
  }
  .audience_card_first_image_three{
    width: 660px;
    height: 300px;
    margin-top: 0px;
  }
  .audience_card_second{
    margin-top: 10px;
    text-align: center;
  }
  .audience_card_second{
    gap: 30px;
   }
   .instagram_collaboration_image_one, .instagram_collaboration_image_two{
    width:280px;
    height: 260px;
  }
  .collaboration_name{
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.8px;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .collaboration_dec{
   padding: 0 30px;
   font-size: 17px;
  }
/* ==============================audience End ============================================== */

/* ==============================trusted_partners ============================================== */
.trusted_partners_heading h2 {
  font-size: 29px;
}

.trusted_partners_heading p {
  font-size: 15.5px;

}
.insta-partner_images{
  width: 120px;
    height: 32px;
}

/* ==============================trusted_partners End ============================================== */
/* ============================== Showreel ============================================== */

.showreel{
  grid-template-columns: 1fr;
  text-align: center;
  gap: 20px;
}
.showreel_card_first_inner{
  width: 650px;
  margin: auto;
}
.video-img{
  width: 691px;
  height: 400px;
}
/* ============================== Showreel End ============================================== */
/* ============================== Build_business============================================== */

.build_business{
  width: 720px;
}
.build_business_card{
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  gap: 20px;
 margin-top: 20px;

}
.build_business_image{
width: 691px;
height: 350px;
}
.build_business_card_content{
width: 500px;
height: 250px;
padding: 0px 20px;

}
#one{
  order: 0 !important;
}
/* ============================== Build_business End ============================================== */
/* ============================== Latest_insights ============================================== */
.latest_inside_heading {
  font-size: 30px;

}
.latest_inside_image {
  width: 399px;
  height: 385px;
}
.latest_inside_card_container{
  display: grid;
  grid-template-columns:  1fr;
  justify-items: center;
}
.latest_inside_inner_card{
  width: 330px;
  left: 190px;
 
}
.latest_inside_inner_card p{
font-size: 18px;
}
.latest_inside_inner_card h2{
  font-size: 19px;
  }

/* ============================== Latest_insights End ============================================== */


/* ============================== footer ============================================== */
.footer-inner{
  width: 500px;
 justify-items: center;
  grid-template-columns: 1fr;
 text-align: center;
 
}
.footer_second_card form{
 margin-top: 20px;
  width: 100%;

}
  
  /* ============================== footer End ============================================== */
  



}