@media screen and (max-width:768px){
    
    /* ============================== Hero ============================================== */

    .hero_content {
        gap: 20px;
    }

    .hero_content h1 {
        font-size: 45px;
        line-height: 65px;
    }

    .hero_content p {
        line-height: 22px;
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    .hero_content input {
        width: 320px;
    }
    .hero_im{
        height: 450px !important;
        width: 450px !important;
    }
    .hero_content button {
        width: 180px;
    }
    .hero_bg::after, .hero_bg::before{
       
       display: none;
      
      }
    

    /* ============================== Hero End ============================================== */

    /* ==============================Influencer_info  ============================================== */
.influencer_info_heading{
    font-size: 25px;
    
    width: max(50%, 500px);
    line-height: 41px;
  
  }
  .influencer_card{
 
  gap: 10px;

}

  .card{
    padding: 40px 10px;
    
    }
  .suscriber{
    font-size: 28px;
  }
  .platform{
      font-size: 17px;
    margin-bottom: 15px;
  }
  .card span{
    font-size: 15px !important;
  }
  .dec{
 font-size: 14px ;
  }
.cards_background_effect{
    display: none;
  
  }


/* ==============================Influencer_info End ============================================== */
}